.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 20px;
  padding: 1rem;
  background-color: var(--primary-color);
  border-bottom: 2px solid var(--secondary-color);

  p {
    font-weight: bold;
    color: var(--secondary-color);
    text-transform: uppercase;
    text-align: center;
  }
}
