// TEAMS LOGOS

.bg-team {
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: 768px) {
    background-size: 50%;
  }

  &-AME {
    background-image: url("/images/teams/AME.png");
  }

  &-ATG {
    background-image: url("/images/teams/ATG.png");
  }

  &-ATH {
    background-image: url("/images/teams/ATH.png");
  }

  &-ATL {
    background-image: url("/images/teams/ATL.png");
  }

  &-AVA {
    background-image: url("/images/teams/AVA.png");
  }

  &-BAH {
    background-image: url("/images/teams/BAH.png");
  }

  &-BOT {
    background-image: url("/images/teams/BOT.png");
  }

  &-CEA {
    background-image: url("/images/teams/CEA.png");
  }

  &-CHA {
    background-image: url("/images/teams/CHA.png");
  }

  &-CRU {
    background-image: url("/images/teams/CRU.png");
  }

  &-COR {
    background-image: url("/images/teams/COR.png");
  }

  &-CSA {
    background-image: url("/images/teams/CSA.png");
  }

  &-CTB {
    background-image: url("/images/teams/CTB.png");
  }

  &-CUI {
    background-image: url("/images/teams/CUI.png");
  }

  &-FLA {
    background-image: url("/images/teams/FLA.png");
  }

  &-FLU {
    background-image: url("/images/teams/FLU.png");
  }

  &-FOR {
    background-image: url("/images/teams/FOR.png");
  }

  &-GOI {
    background-image: url("/images/teams/GOI.png");
  }

  &-GRE {
    background-image: url("/images/teams/GRE.png");
  }

  &-INT {
    background-image: url("/images/teams/INT.png");
  }

  &-JUV {
    background-image: url("/images/teams/JUV.png");
  }

  &-PAL {
    background-image: url("/images/teams/PAL.png");
  }

  &-PAR {
    background-size: 45%;
    background-image: url("/images/teams/PAR.png");
  }

  &-RED {
    background-size: 60%;
    background-image: url("/images/teams/RED.png");
  }

  &-SAN {
    background-image: url("/images/teams/SAN.png");
  }

  &-SAO {
    background-image: url("/images/teams/SAO.png");
  }

  &-SPO {
    background-image: url("/images/teams/SPO.png");
  }

  &-VAS {
    background-image: url("/images/teams/VAS.png");
  }

  &-VIT {
    background-image: url("/images/teams/VIT.png");
  }
}
