:root {
  --primary-color: #009c3b;
  --secondary-color: #ffdf00;
  --alternative-color: #002776;
  --heavy-light: #ffffff;
  --heavy-default: #f2f2f2;
  --heavy-dark: #000000;
  --button-active: #023db3;
  --button-default: #ffffff;
  --button-hover: #dbdbdb;
  --positive-color: #016929;
  --negative-color: #a70000;
  --box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  --modal-background: rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--heavy-default);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  max-width: 600px;
  padding: 2rem 1rem;
}

.button-back {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 1rem;

  button {
    cursor: pointer;
    padding: 0.5rem 0.8rem;
    border: none;
    border-radius: 4px;
    box-shadow: var(--box-shadow);
    background-color: var(--button-default);
    color: var(--alternative-color);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.6rem;

    &:hover {
      background-color: var(--button-hover);
    }
  }
}

.table-title {
  display: block;
  width: 100%;
  font-size: 1rem;
  text-align: center;
  background-color: var(--alternative-color);
  color: var(--heavy-light);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: 0.5rem 0;
  margin-top: 1rem;

  &:first-child {
    margin-top: 0;
  }
}

.table-info {
  display: block;
  margin-top: 1rem;
  text-align: left;
  width: 100%;
  font-size: 0.8rem;
  line-height: 1.2rem;
}

@import "./header";
@import "./menu";
@import "./list_teams";
@import "./team";
@import "./about";
@import "./matches";
