:root {
  --primary-color: #009c3b;
  --secondary-color: #ffdf00;
  --alternative-color: #002776;
  --heavy-light: #ffffff;
  --heavy-default: #f2f2f2;
  --heavy-dark: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--heavy-default);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  max-width: 600px;
  padding: 1rem;
}

@import "./header";
@import "./list_teams";
